/* Global Style */
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

/* Overlay Style */
.image-card {
    position: relative;
    width: 300px;
    overflow: hidden;
}

.image-card img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(100%);
    transition: transform 0.4s ease;
}

.image-card:hover .overlay {
    transform: translateY(0);
}

    /* background color */
.cards{
    display: flex;
    justify-content: center;
    padding: 25px;
    background: linear-gradient(135deg, #0a393d,rgb(42, 144, 164),rgb(110, 61, 121) ,#8f0d93);
   
}
body.light .cards{
     background: linear-gradient(135deg, #0967ff,rgb(71, 151, 255),rgb(255, 116, 253),rgb(249, 178, 255) ,#c03ac5);
}

.cards .profile-card{
    color: white;
    max-width: 600px;
    text-align: center;
    padding: 50px 50px 30px;
    position: relative;
    background-color: #192b38; 
    border-radius: 20px; 
 
}

body.light .cards .profile-card{
    background: rgba(255, 255, 255, 0.25);
    color: #222;
}


    /* Profile image and button theme */
.cards .profile-card .profile-header span{
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: #0f1c28;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px #010203;
    cursor: pointer;
        transition: all 0.4s ease;
}
.cards .profile-card .profile-header span:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 8px #050a10;

}
.cards .profile-card .profile-header img{
    outline: 8px solid #bf7aff;
    border: 4px solid #e5c8ff; 
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgb(226, 9, 255);
}

body.light .cards .profile-card .profile-header img{
    outline: 6px solid #cdb4ff;
    border: 3px solid #ffffff;
     border-radius: 50%;
    box-shadow: 0 0 20px rgba(160,120,255,0.5);
}

    /* Profile info */
.cards .profile-card .content h1{
    font-weight: 900;
    margin-bottom: 0;
}
.cards .profile-card .content .job-title{
    margin-top: 12px;
    color: rgb(191, 191, 191);
    font-size: 20px;
}
.cards .profile-card .content .bio{
    color: rgb(191, 191, 191);
    margin-top: 30px;
}
body.light .cards .profile-card .content h1{
    color: #222; 
}

body.light .cards .profile-card .content .job-title{
    margin-top: 12px;
    color: rgb(92, 91, 91);
    font-size: 20px;
}


body.light .cards .profile-card .content .bio{
    color: rgb(92, 91, 91);
    margin-top: 30px;
}
.cards .profile-card .contact-info{
    background-color: #0f1c28;
    padding: 20px 30px;
    text-align: left;
    border-radius: 25px;
    margin: 35px 0;
}
body.light .cards .profile-card .contact-info{
    background: rgba(255, 255, 255, 0.566);
    padding: 20px 30px;
    text-align: left;
    border-radius: 25px;
    margin: 35px 0;
}
.cards .profile-card .contact-info .contact-row{
    margin: 15px 0;
    transition: all 0.4s ease;
}
.cards .profile-card .contact-info .contact-row:hover{
    transform: scale(1.01);
}
.cards .profile-card .contact-info .contact-row i{
    margin-right: 10px;
}

    /* button of social media */
.cards .profile-card .social-media{
    margin-bottom: 50px;
}
.cards .profile-card .social-media a i{
    color: #6C78A4;
    background-color: #0f1c28;
    padding: 15px;
    border-radius: 12px;
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
        transition: all 0.4s ease;
}
body.light .cards .profile-card .social-media a i{
    color: #6277fd;
    background: rgba(255, 255, 255, 0.566);
    padding: 15px;
    border-radius: 12px;
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
   
}
.cards .profile-card .social-media a:hover i{
    box-shadow: 1px 1px 8px #6C78A4, -1px -1px 8px #6C78A4 ;
    transform: scale(1.2);
}
body.light .cards .profile-card .social-media a:hover i{
    box-shadow: 0 0 12px rgba(100,100,255,0.4), 0 0 8px rgba(100,100,255,0.2);
    transform: scale(1.2);
}

.cards .profile-card .feature-work{
    text-align: left;
    margin-bottom: 25px;
}
.cards .profile-card .feature-work .images{
    display: flex;
    gap: 20px;
}
.cards .profile-card .feature-work .images .image-card{
    border-radius: 12px;
    cursor: pointer;
}


